.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.logo img {
    width: 30%;
}

.menu {
    margin-bottom: 0;
    justify-content: center;
    flex-grow: 1;
}

.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 40px;
}

.nav__item a:hover {
    color: inherit;
}

.nav__item a.active__link {
    color: #86b8ed;
}

.menu__icon {
    font-size: 1.5rem;
    color: var(--heading-color);
    cursor: pointer;
}

.dropdown__menu {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown__item {
    padding: 10px 20px;
    color: var(--heading-color);
    text-decoration: none;
    display: block;
}

.dropdown__item:hover {
    background-color: #f1f1f1;
    color: #000;
}
.primary__btn {
    background-color: #091966 !important; /* Navy blue color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.primary__btn:hover {
    background-color: #070f4e !important; /* Darker navy blue on hover */
    color: white;
}

