.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo img{
    width: 30%;
}
.menu{
    margin-bottom: 0;
    justify-content: center; /* Center the menu items */
    flex-grow: 1;
}
.nav__item a{
   text-decoration: none;
   color: var(--heading-color);
   font-weight: 500;
   font-size: 1.1rem; 
   margin-right: 40px;
}
.nav__item a:hover{
    color: inherit;
}

.nav__item a.active__link{
color: #86b8ed;
}

.mobile__menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}
.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.primary__btn {
    background-color: #091966 !important; /* Blue color for Register button */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }